[2015-09-30 20:54] LegendIsAwesomes opened #4 "/tagnyan admin unblocked"
Will be fixed and merged soon, if anyone would like to make a PR about this, feel free. Just make sure it is accepted (Which it will be now).

[2015-09-30 20:57] LegendIsAwesomes opened #5 "Message to online admins only"
Maybe a command like /adminmsg or such alike that messages all online admins? I have accepted this at this current time, if any people object to this being added for a severe reason i will rethink my idea.

[2015-09-30 21:07] LegendIsAwesomes commented on #5
Sorry for the spam, github was being a bit weird. This is scheduled for version 2.0, I have self-assigned this.

[2015-09-30 21:11] LegendIsAwesomes opened #6 "Add adventure mode in /opall -s, -c, and -a"
Title says it all. I have self assigned myself as I am working on this right now.

[2015-10-01 04:23] aggelosQQ commented on #4
Why will you unblock it?

[2015-10-01 06:59] LegendIsAwesomes commented on #4
I won't. I am blocking it. ATM its unblocked by default.

[2015-10-01 14:21] LegendIsAwesomes commented on #5
Why did you close this?

[2015-10-01 16:25] aggelosQQ opened #8 "/tc - similar to /nc (/tagclean - similar to nickclean)"
@ImmaFreedom-Dev/owners please implement

[2015-10-01 17:07] LegendIsAwesomes commented on #8
Will do.

[2015-10-01 20:08] aggelosQQ commented on #5
I thought you did it xD

[2015-10-01 20:50] LegendIsAwesomes commented on #5
@OutOfYourMind can you create this? Just want to see a commit ;)

[2015-10-02 17:48] aggelosQQ commented on #8
Alright @LegendIsAwesomes thanks!

[2015-10-02 18:36] LegendIsAwesomes commented on #8
I am doing most of my assignments about a month before the next update. (2 months), ATM the mod is finished @aggelosQQ

[2015-10-02 19:36] aggelosQQ commented on #8
Continue coding until I get the server, @LegendIsAwesomes

[2015-10-03 20:06] aggelosQQ commented on #4
I've already blocked them, however, I don't know if I did it correctly.
#a9fc649

[2015-10-03 20:11] LegendIsAwesomes commented on #4
seems correct.

[2015-10-03 20:12] LegendIsAwesomes commented on #4
Will review later, please make a PR.

[2015-10-03 20:17] aggelosQQ opened #9 "Youtuber Rank"
Can we add a custom title like Owner, executive or sys-admin called Youtuber?
On /list it will show
&7[&4You&4Tuber&7]
It will have some commands like /recording (with actual countdown)

I want to be able to make people youtubers using config.yml.
Like, for example:
owners:
 - aggelosQQ

something like:

youtubers:
  - aggelosQQ

@ImmaFreedom-Dev/owners

[2015-10-03 20:18] LegendIsAwesomes commented on #9
Decent idea. @OutOfYourMind what do you think?

[2015-10-03 20:22] aggelosQQ commented on #9
uhh, we will implement this xD

[2015-10-06 16:37] aggelosQQ commented on #9
@LegendIsAwesomes so?? When are you going to add this?

[2015-10-06 16:55] LegendIsAwesomes commented on #9
I am, just wont be merged anytime soon.

[2015-10-07 15:06] aggelosQQ commented on #4
Closed

[2015-10-07 15:06] #4 closed

[2015-10-10 19:29] LegendIsAwesomes commented on #9
I don't think this would work out, Anyone can use /tag to be a youtuber, It would have to go through hard code (normally), meaning everytime someone wanted to be a youtuber i'd have to update the mod.

[2015-10-10 19:49] aggelosQQ commented on #9
@LegendIsAwesomes that's why I asked to do it like the owners on config.yml but instead of owners, youtubers.

E.g:
youtubers:
 - aggelosQQ

[2015-10-10 19:50] LegendIsAwesomes commented on #9
That would be very, very hard to implement.

[2015-10-10 19:52] OutOfYourMind commented on #9
I cannot add this, I apologize. Maybe in the future.

[2015-10-10 19:52] #9 closed

[2015-10-11 15:03] OutOfYourMind opened #13 "SeniorAdminWorld - Just wanted to see what my devs and aggelos thinks of this."
The title says it all. I'll create it if you two vote yes.

[2015-10-11 15:03] LegendIsAwesomes commented on #13
What's the difference between this and adminworld. It'd be no difference.

[2015-10-11 15:05] LegendIsAwesomes commented on #5
@outofyourmind we don't close issues unless they're of no use, this stays open.

[2015-10-11 15:09] LegendIsAwesomes commented on #13
@outofyourmind

[2015-10-11 15:23] OutOfYourMind commented on #13
Well, it is a world for seniors only, I just thought it would be a good incentive for being a senior.

[2015-10-11 16:01] aggelosQQ commented on #13
I don't know, if it doesn't take enough space I don't see any problem.

[2015-10-11 16:05] OutOfYourMind commented on #13
Accepted then. Will be added on 3.0

[2015-10-12 10:04] aggelosQQ opened #14 "New /toggle option - /toggle ai"
/toggle ai, for owners only.
It will change the message on /ai to something different (WIll be used if applications close sometime)
@ImmaFreedom-Dev/owners

[2015-10-12 17:07] aggelosQQ commented on #14
@immafreedom-dev/owners

[2015-10-15 13:39] aggelosQQ commented on #5
Bump @ImmaFreedom-Dev/owners

[2015-10-15 13:39] aggelosQQ commented on #6
Bump @ImmaFreedom-Dev/owners

[2015-10-15 13:40] aggelosQQ commented on #8
Bump @ImmaFreedom-Dev/owners

[2015-10-15 13:40] aggelosQQ commented on #13
Bump @ImmaFreedom-Dev/owners

[2015-10-15 13:40] aggelosQQ commented on #14
Bump @ImmaFreedom-Dev/owners

[2015-10-15 13:41] #14 closed

[2015-10-15 20:15] OutOfYourMind opened #15 "CoreProtect"
When you roll someone back, gtfo, or glist ban, it shall auto rollback the person.

[2015-10-15 20:15] OutOfYourMind commented on #15
This is just a taste, on how ImmaFreedom 3.0 will be so much better.

[2015-10-16 11:25] aggelosQQ commented on #15
Yes, add it.
I've already added CoreProtect to the server

[2015-10-16 11:26] aggelosQQ opened #16 "Banning is not working"
We experience a serious problem.
Banning is not working, not even permban.

@OutOfYourMind @LegendIsAwesomes @OxLemonxO please respond as fast as possible.

[2015-10-16 14:32] LegendIsAwesomes commented on #16
Is there any logs?

[2015-10-16 16:31] aggelosQQ commented on #16
No, we ban them and they just rejoin.
It happens on every ban, even auto ejects.

[2015-10-17 09:39] aggelosQQ commented on #16
@JeromSar can you help?

[2015-10-17 16:49] tylerhyperHD commented on #16
I volunteer to help fix this issue.

[2015-10-17 16:58] OutOfYourMind commented on #16
Tyler, added to the github repo. Please fix it.

[2015-10-17 16:59] OutOfYourMind commented on #16
@tylerhyperHD Added to the github repo, please fix.

[2015-10-17 18:24] tylerhyperHD commented on #16
I just checked all the code and after doing so I believe that someone has corrupted the ban config. Simply delete both ban configs and try again. I deem this as invalid as a plugin-related cause.

[2015-10-17 18:30] OutOfYourMind commented on #16
@tylerhyperHD Didn't work.

[2015-10-17 18:31] tylerhyperHD commented on #16
Can you please give me the full error that appears on console?

[2015-10-17 18:35] OutOfYourMind commented on #16
17.10 14:34:03 [Server] INFO [CONSOLE_COMMAND] CONSOLE: /doom awesomepinch
17.10 14:34:03 [Server] INFO CONSOLE - Casting oblivion over AwesomePinch
17.10 14:34:03 [Server] INFO AwesomePinch will be completely obliviated!
17.10 14:34:03 [Server] INFO CONSOLE - Removing AwesomePinch from the superadmin list.
17.10 14:34:03 [Server] INFO AwesomePinch blew up
17.10 14:34:03 [Server] WARN AwesomePinch

[2015-10-17 18:36] tylerhyperHD commented on #16
Thank you for that, i'll look into it.

[2015-10-17 18:38] aggelosQQ commented on #16
Thank you Tyler.

[2015-10-17 18:51] tylerhyperHD commented on #16
@OutOfYourMind I don't have perms to commit lol

[2015-10-17 18:56] #15 closed

[2015-10-17 18:56] #16 closed

[2015-10-17 19:41] #8 closed

[2015-10-17 20:33] aggelosQQ commented on #6
I'll deny this as it is pointless & used only to abuse.

[2015-10-17 20:33] #6 closed

[2015-10-18 11:15] OxLemonxO commented on #16
the problem is, the server is using spigot r0.1 while tfm is r0.3
TFM_ServerInterface, is used in ServerListPingEvent, has these imports:
import net.minecraft.server.v1_8_R3.EntityPlayer;
import net.minecraft.server.v1_8_R3.MinecraftServer;
import net.minecraft.server.v1_8_R3.PropertyManager;
probably the cause of this problem

[2015-10-18 11:28] JeromSar commented on #16
@OxLemonxO TFM should warn you at startup if that's the cause of the problem.

[2015-10-18 12:57] tylerhyperHD commented on #16
the revision of spigot hasn't changed in awhile so that's not the problem at all.

[2015-10-18 14:41] OutOfYourMind commented on #16
Issue fixed.

[2015-10-18 15:15] tylerhyperHD commented on #13
Senior admin world? Why don't you just use regular admin world? + not enough space to add = closed

[2015-10-18 15:15] #13 closed

[2015-10-18 15:33] #5 closed

[2015-10-19 10:07] aggelosQQ opened #17 "/rules"
May I ask why whenever I do /rules in-game, instead of showing the rules that are from the essentials file, rules.txt it shows:
:rules
:Go to http://immafreedom.eu/ for the rules.

I want it to show the message I added on the Essentials folder so the player won't have to go to the website to view them.

This is the message I want:

&6* &2You may view all the rules on: &9"immafreedom.eu/showthread.

[2015-10-19 16:08] LegendIsAwesomes commented on #17
Do you want a new cmd completely?

[2015-10-19 20:46] OutOfYourMind commented on #17
Will be added, I'll add it.

[2015-10-19 21:12] tylerhyperHD commented on #17
This is an essentials issue since I re-did essentials, yet I don't have access to that lol.

[2015-10-21 18:23] aggelosQQ commented on #17
Don't have access to what, @tylerhyperHD

[2015-10-24 15:46] OxLemonxO opened #18 "Make so that the owner can see all commands"
Suggested by @aggelosQQ

[2015-10-24 15:52] aggelosQQ opened #19 "/tc is broken"
It doesn't exactly remove the correct prefixes & it mentions all the tags in-game every time I use the command.

https://www.screenshottr.us/v/a0935999b6a6165b22cdc501a047bfe2/c6859fd6d974e428d39001bb969b6244.png

@ImmaFreedom-Dev/owners @ImmaFreedom-Dev/member

[2015-10-24 16:24] aggelosQQ opened #20 "Remove sender's name when a /gtfo is happening."
I liked the previously version more, can we get it back?

Instead of:
aggelosQQ - Banning: aggelosQQ, IP: s.n.i.p - Reason: test

I want it to say:
Banning: aggelosQQ, IP: s.n.i.p  - Reason: test

[2015-10-24 16:25] OxLemonxO commented on #18
Added. https://github.com/ImmaFreedom-Dev/ImmaFreedomMod/commit/8b0a7d3506d88668a52ec4a822729e0ac520e5dd

[2015-10-24 16:25] aggelosQQ commented on #18
:D

[2015-10-24 16:25] #18 closed

[2015-10-24 16:28] #20 closed

[2015-10-24 16:35] aggelosQQ commented on #19
@tylerhyperHD, since you created this, can you fix it?

[2015-10-29 17:54] OutOfYourMind opened #21 "Tags Issue"
Custom rank tags don't work. Mine says [Senior Admin] when I chat in-game

[2015-10-31 15:26] aggelosQQ commented on #17
I have replaced the command with a plugin.
It works perfectly now.

[2015-10-31 15:26] #17 closed

[2015-10-31 18:09] aggelosQQ opened #22 "/uall & /dtoggle"
TF used to have this command back when they had disguisecraft.

/Uall disguises all the online players

/dtoggle enables/disables the plugin.

The plugin we use right now is LibDisguise; can we have that command?
@ImmaFreedom-Dev/leaders @ImmaFreedom-Dev/member

[2015-10-31 18:29] OutOfYourMind commented on #22
Will add.

[2015-10-31 19:22] #19 closed

[2015-10-31 19:30] #21 closed

[2015-11-01 18:44] aggelosQQ commented on #22
@tylerhyperHD, we don't use DisguiseCraft; we are using LibDisguises

[2015-11-01 18:52] aggelosQQ opened #23 "/smite telnet errors"
01.11 13:51:34 [Server] INFO tylerhyperHD issued server command: /smite Cartman357mag
01.11 13:51:34 [Server] INFO [PREPROCESS_COMMAND] tylerhyperHD(tylerhyperHD): /smite Cartman357mag
01.11 13:51:34 [Server] INFO [PLAYER_COMMAND] tylerhyperHD (tylerhyperHD): /smite Cartman357mag
01.11 13:51:34 [Server] INFO Cartman357mag has been a naughty, naughty boy.
01.11 13:51:34 [Server] ERROR Could not pas

[2015-11-01 19:14] tylerhyperHD commented on #23
stServerMessages is causing that.

[2015-11-01 19:15] aggelosQQ commented on #23
Okay; I won't remove this plugin anyway.

[2015-11-01 19:17] tylerhyperHD commented on #23
Fixed with a little bit of sauces.

[2015-11-01 19:17] #23 closed

[2015-11-01 19:18] tylerhyperHD commented on #22
LibDisguises is incompatible with TFM, making this command a useless sort of deal. It's either DisguiseCraft or nothing.

[2015-11-01 19:18] #22 closed

[2015-11-01 19:26] aggelosQQ opened #24 "/ulist"
This command will show all the disguised players

[2015-11-01 19:26] aggelosQQ opened #25 "/ulist | /ulist -a"
/ulist - This command will show all the online disguised players.

/ulist -a - This command will show players that are near you.

[2015-11-01 19:38] #24 closed

[2015-11-01 19:55] aggelosQQ opened #26 "I don't know if it is possible - it is just a thought - Vote Reward"
To make people vote for the server, I thought of a rank called Voter, which gets some commands and other features (we will think of them if we accept this idea) and this rank will be given to the top 3 voters of Minecraft-MP every month. The rank duration will be one month.

What do you think? It sounds hard to implement but I think it will help us get more players if they vote for this rank?
@Imm

[2015-11-01 19:56] tylerhyperHD commented on #26
that would be hard yet it would take time.

[2015-11-01 20:00] aggelosQQ commented on #26
Yes, obviously, however, if any of you is willing to spend the required time to implement this, it would be great.

[2015-11-02 08:19] LegendIsAwesomes commented on #26
I have an idea how to do this though I'm suspended @aggelosqa

[2015-11-02 11:42] aggelosQQ commented on #26
You can still contribute by making pull requests, @LegendIsAwesomes.

[2015-11-05 19:09] aggelosQQ opened #27 "Remove the motd feature completely from TFM"
I would rather use a plugin I found and I'd love to use.

@ImmaFreedom-Dev/leaders @ImmaFreedom-Dev/member

[2015-11-05 22:04] OutOfYourMind opened #28 "Disable admins from using /opall when no players need to be opped"
Title says it all, this is also so my pull request gets accepted for TF, (aggelos made the issue). I have given everyone credit on the pull request on TFM's Github page

[2015-11-05 22:33] tylerhyperHD commented on #27
What's the plugin?

[2015-11-05 22:46] tylerhyperHD commented on #28
Code still is not working

[2015-11-06 17:03] aggelosQQ commented on #27
https://www.spigotmc.org/resources/advancedmotd.8644/

[2015-11-06 23:08] #28 closed

[2015-11-07 07:12] aggelosQQ commented on #27
@tylerhyperHD, the motd I set sometimes work, sometimes it is just black.
Are you sure you removed TFM's completely?

[2015-11-07 20:12] tylerhyperHD commented on #27
Yes, TFM's is completely turned off unless whitelist is on, you are banned, or something of that nature.

[2015-11-07 20:17] tylerhyperHD commented on #27
Actually I figured out I made a mistake.

[2015-11-07 20:20] #27 closed

[2015-11-08 17:42] OutOfYourMind opened #29 "Config is still broken"
I can't block commands and operators can kick others.

[2015-11-08 18:38] LegendIsAwesomes commented on #29
@OutOfYourMind when you update the config and restart/reload the server, give me all the logs (Even if there are no errors.

[2015-11-09 14:02] tylerhyperHD commented on #29
Actually, its mainly because no one knows how to block commands correctly in the config. So its not the mods fault, its your own damn fault.

[2015-11-09 14:02] #29 closed

[2015-11-10 14:44] OxLemonxO commented on #25
I can do this if we use LIbsDisguises instead of DisguiseCraft

[2015-11-10 17:59] aggelosQQ commented on #25
@OxLemonxO I prefer disguisecraft because it has less disguises when libdisguises has many and most of them can harm the server.

[2015-11-13 06:15] OxLemonxO commented on #25
@aggelosQQ Which ones can harm the server?

[2015-11-13 21:09] OutOfYourMind commented on #25
I agree with @OxLemonxO, LibsDisguises will be added. That is final.

[2015-11-13 21:18] tylerhyperHD commented on #25
LibDisguises has protocols in it that can potentially harm the server, that is why I use DisguiseCraft. If you can fix these issues, then I will reconsider adding it.

[2015-11-14 02:36] OxLemonxO commented on #25
I think your talking about ProtocolLib? if not, what protocols are you talking about?

[2015-11-14 02:38] OxLemonxO opened #30 "[Not Related] Forums are dead."
Forums don't work.

[2015-11-14 05:22] aggelosQQ commented on #30
I have sent them a PM to check.

[2015-11-14 05:24] aggelosQQ commented on #25
No, I don't really like LibDisguises. I prefer the old, good one.

[2015-11-14 17:17] tylerhyperHD commented on #25
I am talking about the protocols that left TotalFreedom laggy for months.

[2015-11-14 17:18] tylerhyperHD commented on #25
Denied anyways.

[2015-11-14 17:59] aggelosQQ commented on #25
Ummm, what is denied? /ulist? You already added it.

[2015-11-14 18:28] tylerhyperHD commented on #25
Stupid me lol

[2015-11-14 18:28] #25 closed

[2015-11-14 18:37] LegendIsAwesomes commented on #30
This isn't a bug, Only label bug if its to do with IFM.

[2015-11-15 08:49] #30 closed

[2015-11-15 15:02] aggelosQQ commented on #30
Solved anyway.

[2015-11-16 17:45] aggelosQQ commented on #26
Bump?

[2015-11-18 23:51] tylerhyperHD commented on #26
I mean I can create a base implementation of this rank, but I don't think I will be able to make it pick out the top 3 voters.

[2015-11-19 11:53] aggelosQQ commented on #26
No, we will add them manually every month, we will use minecraft-mp which lists the voters.

[2015-11-21 10:40] aggelosQQ opened #33 "Bug with /tag"
As I see on the command, there's an auto-smite implemented that enables whenever an OP sets disallowed tags for themselves.
It is not working, everyone can set their tag to owner or admin.

[2015-11-21 20:09] tylerhyperHD commented on #33
I am already aware of this bug.

[2015-11-27 20:31] LegendIsAwesomes opened #34 "Samennis1 is not the correct rank."
Will fix this ASAP. She/he verified as a System Admin so I shall make them one for the next update.

[2015-11-27 20:42] #34 closed

[2015-11-27 20:55] LegendIsAwesomes opened #36 "Update the server with version 3.0"
@ImmaFreedom-Dev/leaders I think its time to update the server, Someone with panel/ftp please do so.

[2015-11-27 22:08] tylerhyperHD commented on #36
Done.

[2015-11-27 22:08] #36 closed

[2015-11-28 16:19] LegendIsAwesomes opened #37 "Survival Enhancement?"
When a player breaks a block instead of it being removed by default, why not make it automatically appear in the players inventory.

[2015-11-28 16:21] #37 closed

[2015-11-28 17:39] tylerhyperHD opened #39 "MineAPI Generating Failed Tasks when someone logs in"
I keep on seeing exceptions on MineAPI so now I am going to have to take this matter into my own hands.

[2015-11-28 18:04] tylerhyperHD commented on #39
I found a way to compile it and will upload it soon, closing.

[2015-11-28 18:04] #39 closed

[2015-11-28 19:35] aggelosQQ commented on #37
Sounds cool, actually.
How did no one come up with that idea yet

[2015-11-28 20:39] tylerhyperHD opened #40 "Create backup folder"
create a script in TFM to make a separate folder from the main that is named backup

[2015-11-28 20:43] LegendIsAwesomes commented on #40
Why not make a new plugin that handles SA's and permbans etc connected to IFM, So when IFM is updated the permbans and admins aren't effected?

[2015-11-28 22:01] tylerhyperHD opened #41 "ImmaFreedomMod is becoming FreedomHostingMod"
Currently I am creating a new mod that brings ease to the server, and this one will be made not only better than TFM, but better than any other thing. It is being created @ http://github.com/tylerhyperHD/FreedomHostingMod

This issue will close when we are completely done with the transition.

[2015-11-28 22:02] LegendIsAwesomes commented on #41
Oi @tylerhyperHD don't forget I am going to a major part of the mod too, I plan to do a lot of commits.

[2015-12-13 07:45] aggelosQQ opened #43 "Automatic OP"
People suggested it on the server.
Since our server is not that famous rn, some people who join for the first time are not OPs and there is no one else online to op them, so I would like to see it implemented on the next update.

@ImmaFreedom-Dev/leaders @ImmaFreedom-Dev/member

[2015-12-13 12:21] LegendIsAwesomes commented on #43
Okay, I'll just a login listener for it.

[2015-12-13 18:45] OutOfYourMind commented on #43
I'll just make it so that multicraft ops all automatically every 2 minutes.

[2015-12-13 18:45] #43 closed

[2015-12-13 23:48] AlphaGaming opened #44 "IF Dev"
I'm a Immafreedom developer can I be added to the mod?

[2015-12-14 11:14] LegendIsAwesomes commented on #44
Who made you a developer

[2015-12-14 11:16] LegendIsAwesomes commented on #41
Only me and @tylerhyperhd are working on this, NOBODY ELSE. @AlphaGaming you can't either.

[2015-12-14 12:33] aggelosQQ commented on #43
I prefer the login listenery scenario.

[2015-12-14 12:35] aggelosQQ commented on #44
@LegendIsAwesomes pinch did.

[2015-12-14 12:49] aggelosQQ commented on #44
@AlphaGaming, instead of commiting  everything you change, just to avoid broking the code with unwanted stuff that have not been approved by me, just create a pull request and update it with your stuff.

[2015-12-14 12:50] #44 closed

[2015-12-14 13:24] LegendIsAwesomes commented on #43
Okay, will do.

[2015-12-14 15:42] AlphaGaming commented on #43
I updated /opme so now NON_OPS can op them selfs

[2015-12-14 16:25] aggelosQQ commented on #43
See my reply and undo it.

[2015-12-22 13:46] aggelosQQ opened #45 "Suggestion System"
Since we use a plugin which is not that good because it does not give us the ability to purge the suggestions, I came up with the idea of making our own suggestion system which will have file called suggestions.yml and this file will include all the suggestions but I want to be able to edit the messages and add some suffixes like approved, denied etc.
The commands will be too.
The first one will b

[2015-12-24 05:43] aggelosQQ opened #47 "/ppclean & /pplist"
It will do the same thing as /uall and /ulist

@ImmaFreedom-Dev/leaders @ImmaFreedom-Dev/jr-developers @ImmaFreedom-Dev/member

[2015-12-24 06:26] xItsNickHD commented on #47
Reasonable, probably easy to to merge into the mod.

[2015-12-26 18:23] OutOfYourMind opened #49 "Sidebar to display Information"
We should add a sidebar to display the player's username, what rank they are, their health, etc.

[2015-12-26 19:30] LegendIsAwesomes commented on #49
Good idea.

[2015-12-27 22:07] aggelosQQ commented on #49
Vouch

[2015-12-27 22:13] aggelosQQ commented on #47
@tylerhyperHD @LegendIsAwesomes

[2015-12-27 22:37] LegendIsAwesomes commented on #47
Will get to work on these.

[2015-12-28 06:58] Dusty01 opened #51 "Restrictions to Disguise Craft"
It would be better to block /d p <username>. There are several ways to abuse it. I think everything can be understood easily so I wont go into it much.

[2015-12-28 09:10] aggelosQQ commented on #51
Vouch. It should have been blocked when we firstly added it.

[2015-12-28 09:57] aggelosQQ commented on #45
@LegendIsAwesomes

[2015-12-28 12:52] LegendIsAwesomes commented on #45
Will work on it, maybe the current ifm or the new custom one not sure.

Oft: Am I the only active developer left here?

[2015-12-28 13:49] aggelosQQ commented on #45
Well, as it seems :P

[2015-12-28 17:53] samennis1 commented on #51
Vouch for this, It would be a good thing to do for ImmaFreedomMod

[2015-12-28 19:21] vladvilcu2006 commented on #51
Voucheroii

[2015-12-29 09:14] aggelosQQ opened #52 "Allow Dropping Items Except Arrows"
Please allow item dropping but keep arrows disabled.

@LegendIsAwesomes

[2015-12-29 13:46] LegendIsAwesomes commented on #52
Okay. Will do.

[2015-12-29 16:20] Dusty01 opened #53 "Reasons for 'glist ban'"
Add a 'reason' option to '/glist ban'. This can help the players understand why they were banned.

Command now:
/glist ban [user name]

Requesting command:
/glist ban [user name] [reason]

[2015-12-29 18:00] aggelosQQ commented on #53
You mean /glist ban [ reason ] :P

[2015-12-29 18:04] Dusty01 commented on #53
I used angle brackets, which was a bad idea. I corrected it.

[2015-12-29 18:42] OutOfYourMind commented on #53
Accepted.

[2015-12-31 21:29] tylerhyperHD commented on #52
Actually that would lag the server out even if you just keep arrows only removed due to the various other entities that could be dropped if someone had an op item sword.

[2015-12-31 21:30] tylerhyperHD commented on #51
Imma try to redo DisguiseCraft anyways so yeah.

[2016-01-01 15:27] aggelosQQ commented on #52
@tylerhyperHD then add a cooldown, like on the clearlagg, when it clears all the drops every some minutes, not instantly please.

[2016-01-01 15:48] aggelosQQ commented on #26
Is this accepted?

[2016-01-01 17:48] LegendIsAwesomes commented on #26
there.

[2016-01-01 20:56] aggelosQQ commented on #26
Perfect :D

[2016-01-02 04:20] tylerhyperHD commented on #52
No you don't really understand the concept of a god sword - if you create a god sword with op unsafe enchantments, such as 32767 which is the highest level, a single hit of a mob would create so many mob drop entities that it would crash the server in seconds.

[2016-01-02 08:13] aggelosQQ commented on #52
Oh yeah, you'te true.

[2016-01-02 08:13] #52 closed

[2016-01-05 19:32] vladvilcu2006 opened #56 "Spectator"
Add /spectator, it will move you into spectator.

[2016-01-05 19:44] FoxIshDaBest commented on #56
good idea

[2016-01-05 20:16] vladvilcu2006 commented on #56
@OutOfYourMind

[2016-01-05 20:56] LegendIsAwesomes commented on #56
Why tag him when there is like 4 other developers to tag including me.

[2016-01-06 00:26] vladvilcu2006 commented on #56
^

[2016-01-06 13:35] vladvilcu2006 opened #58 "Block pet enderdragon, wither and the disguises enderdragon and wither"
Block pet enderdragon, wither and the disguises enderdragon and wither. The title says it.

[2016-01-06 14:05] aggelosQQ commented on #58
I am pretty sure they are blocked as pets, I don't know about the desguises.

[2016-01-06 16:23] DUFCLiam commented on #58
@aggelosQQ, I will take a look for you, what plugin is it you use?

[2016-01-06 16:35] DUFCLiam commented on #51
@tylerhyperHD, Want help? I can maybe help, I have a good Java decompiler, Type "jd-gui1.4.0" in google and download it.

[2016-01-06 16:56] LegendIsAwesomes commented on #51
No @DUFCLiam, we only want developers working on this.

[2016-01-06 16:57] DUFCLiam commented on #51
Aww, I wanna be one haha

[2016-01-06 16:57] LegendIsAwesomes commented on #58
Theyre blocked. No need DUFCLiam.

[2016-01-06 16:58] LegendIsAwesomes commented on #51
make lots of good PR's then

[2016-01-06 16:58] DUFCLiam commented on #51
Okay :)

[2016-01-06 16:59] DUFCLiam commented on #51
Wait, Legend can you help quickly.

[2016-01-06 17:00] LegendIsAwesomes commented on #51
On what?

[2016-01-06 17:00] DUFCLiam commented on #51
@LegendIsAwesomes, Look: http://prntscr.com/9mtt2y whats the error?

[2016-01-06 17:03] LegendIsAwesomes commented on #51
player needs to be known as Player ( caps needed)

[2016-01-06 17:04] DUFCLiam commented on #51
Ok, fix that in the zip then.

[2016-01-06 17:04] DUFCLiam commented on #51
http://prntscr.com/9mtved

[2016-01-06 17:04] LegendIsAwesomes commented on #51
It compiles, you must have something wrong.

[2016-01-06 17:05] DUFCLiam commented on #51
Like?

[2016-01-06 17:08] LegendIsAwesomes commented on #51
I don't know, screenshot the error when you compile and send it me on the TF forums.

[2016-01-06 17:10] DUFCLiam commented on #51
Wait, @LegendIsAwesomes have you got skype?

[2016-01-06 17:11] LegendIsAwesomes commented on #51
Yes, though I can't call, pm me on the TF forums about the error and I'll give you my Skype there.

[2016-01-06 17:12] DUFCLiam commented on #51
Ok

[2016-01-06 17:13] DUFCLiam commented on #51
@LegendIsAwesomes, Andy right

[2016-01-06 17:15] LegendIsAwesomes commented on #51
Yes.

[2016-01-06 19:43] #58 closed

[2016-01-06 23:20] tylerhyperHD commented on #45
Added to the FreedomHostingMod. It will be put on the server so you can use it immediately as well.

[2016-01-06 23:20] #45 closed

[2016-01-07 03:10] tylerhyperHD commented on #51
Restrictions added.

[2016-01-07 03:10] #51 closed

[2016-01-07 03:31] #53 closed

[2016-01-08 15:08] vladvilcu2006 opened #67 "Block //spheres in /protectarea"
As you see, people can use //sphere air in /protectarea. or //cyl, or //hcyl, etc. But //wand dosen't work in protectarea.

[2016-01-08 19:29] DUFCLiam commented on #67
I will try and make blocked.

[2016-01-08 21:48] #67 closed

[2016-01-08 21:49] tylerhyperHD commented on #47
Is this for PlayerParticles instead?

[2016-01-09 15:14] aggelosQQ commented on #47
Yes.

[2016-01-09 17:51] tylerhyperHD opened #68 "Create BuilderWorld"
As we have many people building random things, I decided that this has been a necessary thing needed to be added.

[2016-01-09 17:52] tylerhyperHD commented on #68
Going to add PlotMe to the org. If anyone wants to help me out to fix it up then that would be great.

[2016-01-09 17:54] tylerhyperHD commented on #56
This has been added to FreedomHostingMod, done.

[2016-01-09 17:54] #56 closed

[2016-01-10 13:18] DUFCLiam commented on #68
Tyler, That will be sorta hard because plotme makes it so you can edit other plots, reset, etc

[2016-01-11 01:09] tylerhyperHD commented on #68
Not when you are a developer who knows how to rewrite a permission system

[2016-01-11 08:28] LegendIsAwesomes commented on #68
Actually that's really simple.

[2016-01-11 17:30] DUFCLiam commented on #68
Sorry for the last comment that was sent with this account that was my brother.

[2016-01-13 21:58] LegendIsAwesomes commented on #68
@tylerhyperHD Why not add builder etc to FreedomHostingMod and make completely custom words (FHM created) and only give builder permission?

[2016-01-15 21:13] tylerhyperHD commented on #68
It's mainly due to the fact that I haven't set up any permissions on the FHM, so if I did that it would take more time.

[2016-01-15 21:28] LegendIsAwesomes commented on #68
Okay; Could you get on skype and we could work on it?

[2016-01-16 08:51] vladvilcu2006 opened #70 "Remove launchtorpedos"
Remove launchtorpedo, it is used for massive griefing and CANNOT be rollbacked

[2016-01-16 08:51] vladvilcu2006 opened #71 "Admin prefixes improvement?"
I'd request to add the SA, STA, Sr.A, dev, sys, etc...  a prefix like this &8[&bSA&8], instead of &b[SA].

[2016-01-16 09:16] vladvilcu2006 opened #72 "Exe"
Exe, A new IFM rank. What do you think

[2016-01-16 13:48] DUFCLiam commented on #70
I agree with this

[2016-01-16 13:48] DUFCLiam commented on #72
Is this Executive?

[2016-01-16 13:49] DUFCLiam commented on #71
I also agree with this!

[2016-01-16 14:41] aggelosQQ commented on #72
We already have one for this.

[2016-01-16 14:41] #72 closed

[2016-01-16 14:42] aggelosQQ commented on #71
Actually, I vouch.

[2016-01-16 16:12] tylerhyperHD commented on #71
I need a complete list of the way prefixes should look like before I add this implementation

[2016-01-16 16:13] tylerhyperHD commented on #70
What I did with MoveCraft is I zeroed out the explosions, I dunno if that was resolved yet.

[2016-01-16 16:15] tylerhyperHD commented on #33
This isn't for FHM this is for IFM

[2016-01-16 16:55] DUFCLiam commented on #71
I can create a mini-list

Super Admin = &8[&bSuper Admin&8]

Super Telnet Admin = &8[&2Telnet Addmin&8]

Senior Admin == &8[&dSenior Admin&8]

[2016-01-16 17:15] tylerhyperHD commented on #26
I have added a listener to FHM that we can customize to do that.

[2016-01-17 08:46] vladvilcu2006 commented on #71
@DUFCLiam you mean:
Super Telnet Admin = &8[&2Telnet Admin&8]

instead of

Super Telnet Admin = &8[&2Telnet Addmin&8]

[2016-01-17 08:59] vladvilcu2006 opened #73 "Tag-Clean bug"
When I do /tagclean to remove &0, it removes it but it setts my tag (or everyones) to it.

[2016-01-17 13:22] vladvilcu2006 opened #74 "Add players who smite people"
Add at smite, who send the command, the name so people can know who did it

[2016-01-17 14:42] aggelosQQ commented on #74
No need.
The admin should use /say after that anyway.

[2016-01-17 14:42] #74 closed

[2016-01-17 14:42] aggelosQQ commented on #26
Great.

[2016-01-17 14:44] graslej opened #75 "Users can user Admin in their tag"
Normal users for some reason can use admin in their tag if this could be fixed that would be cool

[2016-01-17 15:16] vladvilcu2006 commented on #75
Its a bug; already suggested

[2016-01-17 16:01] vladvilcu2006 commented on #74
@aggelosQQ, we have /smite <player> [reason] now...

[2016-01-18 16:43] DUFCLiam commented on #71
Yeah xD

[2016-01-18 20:39] #26 closed

[2016-01-18 21:44] LegendIsAwesomes commented on #41
@RobinGall2910 Please don't close this, it will remain open until FHM is done.

[2016-01-19 05:36] aggelosQQ commented on #26
@robingall2910 will you do it?

[2016-01-23 19:12] DUFCLiam commented on #75
I will try and fix this :)

[2016-01-23 19:23] #41 closed

[2016-01-25 01:10] xItsNickHD commented on #73
We'll see what we can do!

[2016-01-25 03:09] xItsNickHD commented on #70
It's very simple, what I think we can do is just limit it in the config. @tylerhyperHD

[2016-01-25 18:38] aggelosQQ commented on #73
@xItsNickHD who made you a developer :P

[2016-01-25 18:39] aggelosQQ commented on #70
Tyler is no longer a developer @xItsNickHD.

[2016-01-25 21:17] xItsNickHD commented on #73
@aggelosQQ junior dev* and you should remember...

[2016-02-01 12:52] aggelosQQ commented on #49
@LegendIsAwesomes?

[2016-02-01 19:34] vladvilcu2006 commented on #73
@xItsNickHD and @aggelosQQ  heyo! please talk this in a PM

[2016-02-01 19:36] vladvilcu2006 opened #88 "GTFO/glist ban/unban aliases"
Okay. I think this is useless, but anyways.

I request for someone to make GTFO and /glist ban alias to /ban. and /glist unban to /unban or /pardon

[2016-02-01 19:37] vladvilcu2006 opened #89 "Make alias for /adminworld (/admin)"
Make an alias for /adminworld, that it will be /admin.

[2016-02-01 21:57] aggelosQQ commented on #89
Just type /adminword, is it so hard? :P

[2016-02-01 21:57] #89 closed

[2016-02-01 21:58] aggelosQQ commented on #88
Our systems are fine.

[2016-02-01 21:58] #88 closed

[2016-02-01 22:00] aggelosQQ commented on #73
We stopped talking 7 days ago as it says.

[2016-02-02 16:37] DUFCLiam commented on #89
I think we should use this for something else I will create issue soon. :)

[2016-02-02 16:38] DUFCLiam commented on #49
@aggelosQQ, Can we remove the "FreedomHostingMod" milestone please? (As tylerhyperHD is no longer a developer and FreedomHostingMod is copyrighted.)

[2016-02-02 16:41] DUFCLiam commented on #88
I think this would be a bad idea anyways; It was be mistakenly used.

[2016-02-02 18:19] DUFCLiam commented on #33
I have done a PR #91

[2016-02-02 18:27] DUFCLiam commented on #68
I am stupid.... Just block the extension commands like /plotme clear, /plotme ..., etc as you can just block it to superadmins...

[2016-02-02 21:33] DUFCLiam opened #94 "Command Suggestion: /admin"
# Command Suggestion: /admin
It can have more features like

/admin [doom | remove | add | suspend | etc]

[2016-02-03 06:19] aggelosQQ commented on #94
Umm??

[2016-02-03 08:17] AvalancheYT commented on #94
No thanks.

[2016-02-03 18:32] vladvilcu2006 opened #98 "EventHandling (If someone says "can i have op", auto-opall)"
title says it

[2016-02-03 18:34] vladvilcu2006 opened #99 "spectator"
This is not a duplicated issue, As FreedomHostingMod was removed, we need to add /spectator again...

[2016-02-03 18:53] aggelosQQ commented on #98
Better auto /op

Good idea. :)

[2016-02-03 19:16] DUFCLiam commented on #94
@aggelosQQ @AvalancheYT Fixed it was in < >'s

[2016-02-03 19:18] DUFCLiam commented on #98
We can create this in the Player listener.

[2016-02-03 19:20] DUFCLiam commented on #99
Agreed, I will create a PR for some of your new PRs :)

[2016-02-03 19:26] aggelosQQ commented on #94
No need.

[2016-02-03 19:26] #94 closed

[2016-02-03 20:04] DUFCLiam commented on #98
#100 Makes it so you can just say "can I have OP" you will get OP!

[2016-02-03 20:56] DUFCLiam commented on #71
I will do this in a PR now.

[2016-02-04 08:52] AvalancheYT commented on #99
Shouldn't the issues be accepted before creating a pull request.

[2016-02-04 08:54] AvalancheYT commented on #75
PR #97 - Resolved

[2016-02-04 23:16] #98 closed

[2016-02-06 14:46] aggelosQQ commented on #99
We won't have this command.

[2016-02-06 14:46] #99 closed

[2016-02-07 09:22] DUFCLiam opened #109 "Builder rank"
Wanted by @aggelosQQ

[2016-02-07 09:22] DUFCLiam commented on #109
#107

[2016-02-07 09:45] #109 closed

[2016-02-07 13:21] aggelosQQ opened #115 "CommandSpy for Owners"
I've been asking developers to make this and they actually said they will but they still haven't done that.
For some reason, I had not created an issue yet.
I want to be able to view **everybody's** commands.
Make it only for me or for owners generally it's not an issue, however, do it please.

[2016-02-07 13:25] LegendIsAwesomes commented on #115
Will do.

[2016-02-07 14:29] DUFCLiam opened #117 "Command suggestion: /spambot"
We can use this in the event of a spambot attack!

[2016-02-07 21:56] OutOfYourMind commented on #109
It isn't needed.

[2016-02-07 22:07] LegendIsAwesomes commented on #117
STOP ACCEPTING THINGS, No. its denied.

[2016-02-07 22:07] #117 closed

[2016-02-08 05:39] xItsNickHD commented on #115
sorry that our developers are laying down on their lounge eating popcorn watching Netflix because there is nothing better to do...

[2016-02-08 08:01] LegendIsAwesomes commented on #115
@xItsNickHD I'm constantly active, probably the most active developer, I don't even have Netflix.

[2016-02-08 14:16] aggelosQQ commented on #109
@OutOfYourMind, no, I'm planning to have builder rank.

[2016-02-09 00:32] RobinGall2910 commented on #70
There we go. This'll be removed in the config I guess.

[2016-02-09 00:35] RobinGall2910 commented on #68
Approval awaits from @aggelosQQ.

[2016-02-09 00:37] RobinGall2910 commented on #47
This needs to be worked on?

@ImmaFreedom-Dev/leaders @ImmaFreedom-Dev/jr-developers @ImmaFreedom-Dev/member****

[2016-02-09 12:17] aggelosQQ commented on #47
Yes, it hasn't been added yet

[2016-02-09 12:17] aggelosQQ commented on #68
Sure, it would be a nice & when it comes to freedom servers, unique addition. :)

[2016-02-09 15:26] LegendIsAwesomes commented on #47
I forgot about this.

[2016-02-09 22:11] RobinGall2910 commented on #33
Resolved via https://github.com/ImmaFreedom-Dev/ImmaFreedomMod/pull/97.

[2016-02-09 22:11] #33 closed

[2016-02-09 22:12] #75 closed

[2016-02-10 06:47] xItsNickHD commented on #115
@LegendIsAwesomes so hah on u then

[2016-02-10 06:54] xItsNickHD commented on #68
Just a little overhead*

Can we make it so any OP can access the 'Builder World' like plotme, they can get their own plots etc, and do whatever plotme allows them to do, but only superadmins and builders can actually edit others' plots, delete plots, build outside of plots etc.

[2016-02-10 19:34] aggelosQQ commented on #68
That's what's our planning to do, isn't it? @RobinGall2910

[2016-02-10 21:02] DUFCLiam commented on #68
OFT: @RobinGall2910 Temp-Devs use "Awaiting approval" as we need approval to merge.

[2016-02-10 23:04] RobinGall2910 commented on #68
What do ya mean, @aggelosQQ? @DUFCLiam I'm lead. I approve it to merge.

[2016-02-11 17:37] aggelosQQ commented on #68
Aren't we going to do what @xItsNickHD stated above?

[2016-02-11 18:17] aggelosQQ commented on #115
Different color for each rank if possible please:P

[2016-02-11 18:34] RobinGall2910 commented on #68
@aggelosQQ then this isn't going to be made, then just recode PlotMe with TFM so you can limit commands and such.

[2016-02-12 17:51] aggelosQQ commented on #68
Uh do anything you want ;p

[2016-02-13 17:32] OutOfYourMind opened #120 "GCMD Fix"
Super Admins should not be able to gcmd an admin that has a rank that is higher than their status, same with Telnet. But Seniors, Telnets, and Supers can gcmd ranks lower than them.

[2016-02-13 17:59] samennis1 opened #121 "Holograms"
Hello,

I believe we should have a limitation on holograms for Super Admin's and up, As there is users making pointless, racist and rude holograms all over the server and I think this is a discrase.

Thanks,
Sam

[2016-02-13 18:05] OutOfYourMind commented on #121
Accepted.

[2016-02-13 18:16] samennis1 opened #122 "Spawn"
Hello,

I believe /setworldspawn should be blocked (I believe /setspawn already is) As it is very related to /setspawn and has been used by a few users I've seen. From my last post (Blocked /holo for supers only, as well as /setspawn. < that was by Pinch) So I just thought I'd made this because if you blocked /setspawn you should block /setworld spawn, If /setspawn isn't blocked, That's fine, Then

[2016-02-13 18:16] OutOfYourMind commented on #122
Accepted :P

[2016-02-13 18:17] samennis1 commented on #122
xD, Thanks

[2016-02-13 19:44] LegendIsAwesomes commented on #120
This is already a thing...

[2016-02-13 21:52] samennis1 commented on #115
Just adding to Aggelosqq's Colour point, For example:

SA is orange, STA is green, SrA is red, Executive is light red, System Admin is dark red, etc

[2016-02-14 18:31] samennis1 opened #123 "Smiting"
Hello,

I have noticed the fact that both console and telnet get spammed with the following message once someone is smited, I am not sure if there is a fix to this but thought I'd bring it up anyway as it spams the console and telnet of the server.

**The following part of this message is the spam that people get**

:[13:29:27 ERROR]: Could not pass event PlayerDeathEvent to stServerMessages v1.5.

[2016-02-14 18:31] OutOfYourMind commented on #123
Just do telnet.log and it stops logging that crap.

[2016-02-14 22:27] #122 closed

[2016-02-14 22:28] RobinGall2910 commented on #120
@LegendIsAwesomes unless if its exist in this mod, with a commit, it isn't.

[2016-02-15 09:11] aggelosQQ commented on #120
That's not a bug, it's a suggestion, isn't it?

[2016-02-15 09:12] aggelosQQ commented on #115
Executive and Sys admin is not a rank, it's a title, therefore, they will have the same color as seniors.

[2016-02-15 09:15] aggelosQQ commented on #122
I'm always using /setspawnworld along with /setspawn. Unblock it please.

[2016-02-15 09:19] aggelosQQ commented on #123
@OutOfYourMind what? It's an error that needs to be fixed, telnet.log is not a way to solve it, it just hides the errors, however, the errors still exist.
@RobinGall2910 @ImmaFreedom-Dev/developers @ImmaFreedom-Dev/jr-developers

[2016-02-15 13:36] LegendIsAwesomes commented on #122
Super admins still have access to the command
@aggelosQQ

[2016-02-15 13:58] DUFCLiam commented on #120
This is correct this is a confirmed bug...

[2016-02-15 14:15] LegendIsAwesomes commented on #120
@DUFCLiam You obviously don't know what you're talking about.

[2016-02-15 14:22] DUFCLiam commented on #120
I could force a senior to run a senior command. if they are a higher rank.

[2016-02-15 15:11] LegendIsAwesomes commented on #120
No you coudln't, you can't make any admin do any command.

[2016-02-15 15:18] DUFCLiam commented on #120
I can...

[2016-02-15 17:03] RobinGall2910 commented on #123
@aggelosQQ

Could not pass event PlayerDeathEvent to stServerMessages

There's your problem. It's with the plug ServerMessages.

[2016-02-15 18:05] aggelosQQ commented on #122
And what's wrong with it?

[2016-02-15 18:07] aggelosQQ commented on #123
Mhm, tyler had removed 'em back them. I think the plugin is still forked, just compile it and add it.

[2016-02-15 18:09] LegendIsAwesomes commented on #122
They can set the spawn of other players including admins to the void etc

@aggelosqq

[2016-02-15 18:37] DUFCLiam commented on #123
I will re-add death messages :)

[2016-02-15 20:40] RobinGall2910 commented on #123
Fixed by me.

[2016-02-15 20:40] #123 closed

[2016-02-16 17:30] aggelosQQ commented on #122
I think you are talking about /spawnpoint, /setspawnworld just sets the spawn of the world, if you really want to block it, limit it to admins.

[2016-02-16 17:33] DUFCLiam commented on #122
Agreed, Above ^

[2016-02-16 17:47] DUFCLiam opened #124 "Continue #121"
Make it have a filter feature in holograms I could try and make it...

[2016-02-16 18:33] LegendIsAwesomes commented on #124
Don't add tags without permission.

No it's not needed

[2016-02-16 18:33] #124 closed

[2016-02-16 21:52] DUFCLiam opened #125 "Code archive"
Feel free to use my archive database: https://github.com/Code-Archive

[2016-02-17 07:12] AvalancheYT commented on #125
And how's that going to help us with this?

[2016-02-17 20:28] RobinGall2910 commented on #125
Not like this'll help anything. I already have a Archive running here anyways.

https://github.com/GitArchive

[2016-02-17 20:28] #125 closed

[2016-02-19 20:08] DUFCLiam opened #126 "Collaborator"
Why was I removed?

[2016-02-19 21:40] LegendIsAwesomes commented on #126
Because personally; 90% if the developer team don't want you as a developer; aswell as 90% of your code is copied.

[2016-02-20 09:34] DUFCLiam commented on #126
OK.

[2016-02-20 09:34] #126 closed

[2016-02-20 10:16] aggelosQQ commented on #70
I haven't seen any explosion occured. Are they disabled? @RobinGall2910

[2016-02-20 21:11] RobinGall2910 commented on #70
@aggelosQQ They are.

[2016-02-20 21:11] #70 closed